<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Product Management')">
                <span><i class="fa fa-dashboard"></i>&nbsp; {{ 'Product Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Product Management'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/products/productinfo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Product info' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/products/productstock']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Product stock' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/products/productlabel']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Product label' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Order Management')">
                <span><i class="fa fa-dashboard"></i>&nbsp; {{ 'Order Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Order Management'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/orders/orderinfo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Order info' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Report Management')">
                <span><i class="fa fa-dashboard"></i>&nbsp; {{ 'Report Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Report Management'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/reports/salesrankreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Sales Rank' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
