
<div class="card mb-3">
    <div class="card-header">
        <form class="filter-form">
            <mat-form-field class="filter-input">
            <input matInput placeholder="商品名称">
            </mat-form-field>
            <mat-form-field class="filter-input">
                <input matInput placeholder="商品代码">
            </mat-form-field>
            <mat-form-field class="filter-input">
                <mat-select placeholder="Favorite food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <button (click)="search()" class="btn btn-secondary">&nbsp;查询&nbsp;</button> -->
            <a  class="btn btn-secondary" style="color:azure" role="button" (click)="search()">&nbsp;查询&nbsp;</a>
            <!-- <a  class="btn btn-primary" style="color:azure" role="button" (click)="search()">&nbsp;查询&nbsp;</a> -->
            <!-- <button type="submit" class="btn btn-primary">&nbsp;查询&nbsp;</button> -->
            <!-- <button type="submit" class="btn btn-primary">&nbsp;增加&nbsp;</button> -->
        </form>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Page</th>
                <th>Visits</th>
                <th>% New Visits</th>
                <th>Revenue</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>/index.html</td>
                <td>1265</td>
                <td>32.3%</td>
                <td>$321.33</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body">
        <mat-paginator 
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onChange($event)"
            >
        </mat-paginator>
    </div>
</div>


