<mat-horizontal-stepper [linear]="isLinear" class="product-label-component-div">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>输入SKU</ng-template>
      <mat-form-field>
        <input matInput placeholder="SKU" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>下一步</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>选择生产日期</ng-template>
      <mat-form-field>
        <input matInput placeholder="输入生产日期" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>上一步</button>
        <button mat-button matStepperNext>下一步</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>设置打印个数</ng-template>
          <mat-form-field>
            <input matInput placeholder="输入打印个数" formControlName="thirdCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>上一步</button>
            <button mat-button matStepperNext>下一步</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>读取RFID</ng-template>
          <mat-form-field>
            <input matInput placeholder="将RFID放置感应区,数量和打印个数一致" formControlName="fourthCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>上一步</button>
            <button mat-button matStepperNext>下一步</button>
          </div>
        </form>
      </mat-step>
  <mat-step>
    <ng-template matStepLabel>完成</ng-template>
    在卡片上点击打印
    <div>
      <button mat-button matStepperPrevious>返回</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<br/><br/>
<mat-card class="product-label-card">
    <mat-card-content>
        <div class="product-label-header">
            <span class="product-label-content product-label-contentheader">产品名称：蓝莓乳酪烧</span>
        </div>
        <div>
            <span class="product-label-content">产品主成分：面粉，芝士，蓝莓</span>
        </div>
        <div>
            <span class="product-label-content">产品主成分：面粉，芝士，蓝莓</span>
        </div>
        <div>
            <span class="product-label-content">产品主成分：面粉，芝士，蓝莓</span>
        </div>
        <div>
            <span class="product-label-content">产品主成分：面粉，芝士，蓝莓</span>
        </div>
        <div class="product-label-price">
            <span>售价$3.8</span>
        </div>
    </mat-card-content>
</mat-card>
