.card-header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.filter-form {
    width: 100%;
    margin: 3px;
    height : 70px;
    
  }
  
.filter-input {
    width: 120px;
    height : 30px;
    margin-left: 20px;
}